@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-variant: 'Ubuntu';
    background-color: rgb(22, 41, 63);
    color: rgb(255, 255, 255);
}

.cardoso {
    display: flex;
    font-family: 'Poppins' sans-serif;
    margin-top: 0.8rem;
    margin-left: 2rem;
    font-size: 35px;
    align-items: left;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.cardoso:visited {
    text-decoration: none;
}

.h2 {
    font-size: 32px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 25px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.label {
    display: flex;
    flex-direction: column; 
    font-size: 19px;
    margin-top: 0.8rem;
    color: rgb(255, 255, 255);
}

.p {
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
 
main form input {
    background: white;
    width: 300px;
    height: 43px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: black;
    font-size: 16px;
    border-color: white;
    border-radius: 10px;
    
}

.input [type="submit"] {
    cursor: pointer;
    width: 115%;
    border: none;
    width: 300px;
    height: 48px;
    border-radius: 12px;
    background: rgb(78, 112, 153);
    color: rgb(206, 255, 243);
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
}

.input [type="submit"]:hover {
    background: rgb(0, 71, 224);
}

.footer {
    text-align: right;
    margin-top: 200px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding-bottom: none;
    border-style: solid;
    border-color: transparent;
    padding-top: 30px;
    text-decoration: underline;
    font-size: 14px;
    
}